*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_contain{
    
}
.jumbo_img{
    
    width: 75%;
    height: 450px;
    background-color: aqua;
}

.contain_small_img{
    width: 25%;
    height: 450px;
    background-color: burlywood;
}

.b_t, .b_b{
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
}


.small_img{
    height: calc(100% /5);
    width: 100%;
    

}
.jumbo_img>img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
    background-position: center;
    
}
.small_img>img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
    background-position: center;
}

.effect{
    border:5px solid rgb(23, 34, 8);
}   